.upload-song-div-2 {
	width: 275px;
	padding: 2em;
	padding-top: 3em;
	padding-right: 4px;
	border-radius: 0px;
	z-index: 7;
}

.upload-lyrics-area {
	resize: none;
	color: #6cc027;
	background-color: #323232 !important;
	border: none;
	font-size: 0.85rem;
	font-family: var(--Poppins);
	/* height: 166px !important; */
	padding: 10px !important;
	height: 69px !important;
}

.upload-lyrics-area:focus {
	color: #6cc027;
	outline: none !important;
	box-shadow: none !important;
}

.background-area {
	resize: none;
	color: #6cc027;
	background-color: #323232 !important;
	border: none;
	font-size: 0.85rem;
	font-family: var(--Poppins);
	padding: 10px !important;
}

.background-area:focus {
	color: #6cc027;
	outline: none !important;
	box-shadow: none !important;
}

.lyrical-height {
	height: 69px !important;
}

.non-lyrical-height {
	height: 247px !important;
}