@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--Poppins: "Poppins", sans-serif;
	--Roboto: "Roboto", sans-serif;
}

.reportABug_notice {
	font-family: var(--Roboto);
	font-weight: 300;
	color: #fff;
	font-size: 1em;
	letter-spacing: 0.5px;
}

.color_green_bugsPage {
	color: #76d12b;
}

.bugsPage_heading {
	font-family: var(--Poppins);
	font-weight: 500;
	color: #6cc027;
	font-size: 1.6em;
}

.report_bugs {
	font-family: var(--Poppins);
	color: #afafaf;
}
