@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--Poppins: "Poppins", sans-serif;
	--Roboto: "Roboto", sans-serif;
}

/**************************************************************************/
/*****************************    Library    ******************************/
/**************************************************************************/

.library_container {
	width: 100vw;
	background-image: url("../../assets/hero.svg");
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	padding-top: 0px;
	padding-bottom: 80px;
}

.library_box {
	width: 80%;
	position: relative;
	max-width: 1500px;
	font-size: 16px;
}

.library_card {
	width: 98%;
	border-radius: 16px;
	padding: 25px;
	text-align: center;
	margin-bottom: 60px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.left_filters_section {
	text-align: left;
	font-family: var(--Poppins);
}

.mxv_library_heading {
	font-weight: 500;
	font-size: 1.1rem;
	margin-bottom: 15px;
}

.library_filters {
	font-weight: 500;
	font-size: 0.82rem;
	margin-bottom: 8px;
}

.right_filters_section {
	text-align: right;
	font-family: var(--Poppins);
}

.search_bar_div {
	display: flex;
	border-radius: 20px;
	border: 1px solid rgba(227, 227, 227, 1) !important;
	padding-right: 5px;
}

.search_bar {
	padding: 6px 12px;
	width: 200px;
	background: none;
	font-size: 0.75rem;
	font-weight: 400;
	color: #6cc027;
	border: none;
	outline: none;
}

.search_bar_div:focus-within {
	border: 1px solid #6cc027 !important;
}

::placeholder {
	color: #ffffff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #ffffff;
}

.search_button {
	background: none;
	outline: none;
	border: none;
	color: #ffffff;
}

.song_card_component {
	width: 200px;
	display: inline-block;
	padding: 0.8em !important;
}

.library_cards_cover_div {
	display: inline-block;
	position: relative;
	margin-top: 10px;
}

.library_cards_cover_div div {
	width: 95%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.library_cards_cover_div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: 0.2s ease-in-out;
}

.library_cards_cover_div p {
	opacity: 0;
	font-weight: 600;
	font-size: 1.1em;
	margin-bottom: 2px;
	font-family: var(--Poppins);
}

.library_cards_cover_div span {
	opacity: 0;
	font-weight: 500;
	font-family: var(--Poppins);
	font-size: 1.1em;
	letter-spacing: 0.2mm;
}

.library_cards_cover_div:hover img {
	transform: scale(1.05, 1.05);
	transition: 0.2s ease-in-out;
	webkit-filter: blur(2px);
	filter: blur(2px);
	cursor: pointer;
}

.library_cards_cover_div:hover p {
	color: #fff !important;
	transition: 0.3s;
	opacity: 1 !important;
	cursor: pointer;
}

.library_cards_cover_div:hover span {
	color: #fff !important;
	transition: 0.3s;
	opacity: 1 !important;
	cursor: pointer;
}