.cta-bg{
    background-image: url("../../../assets/section_1.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	padding: 80px;
	display: flex;
	justify-content: space-evenly;
    position: relative;
}

.library-cta-bg{
    background-image: url("../../../assets/cta-black-box.svg");
    background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	padding: 80px;
	display: flex;
	justify-content: space-evenly;
    position: relative;
}

.bg-blur-div{
    width: 100vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(6px);
}

.library-bg-style {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
}

.cta-box{
	position: relative;
	max-width: 1500px;
	font-size: 16px;
    /* display: flex; */
}

.cta-desc h2{
    color: #6cc027 !important;
    font-family: var(--Poppins);
	font-size: 2.1em;
    display: inline-block;
    width: 88%;
	font-weight: 500;
}

.cta-desc{
    padding-top: 100px;
    width: 60%;
}

.cta-desc button{
    padding: 10px 0px;
}

.cta-card{
    background-color: rgba(32, 32, 32, 0.55);
    /* width: 24%; */
    width: 320px;
    height: 400px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 16px;
    /* margin-right: 50px; */
}

.cta-card img{
    width: 42%;
    height: 30%;
    border: 2px solid #6cc027;
    border-radius: 15%;
    margin: 0px auto;
    padding: 10px 0;
}

.cta-card a{
    text-decoration: none;
	color: #6cc027;
    font-size: 1.2em;
}

.cta-card p{
    font-size: 1.1em;
    padding: 0 60px;
} 

/* MEDIA QUERIES */
@media (max-width: 645px) {
    .cta-bg.cta-bg.cta-bg, .library-cta-bg.library-cta-bg.library-cta-bg {
        display: flex;
		flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .cta-desc.cta-desc.cta-desc.cta-desc {
        width: 110%;
        padding-top: 0px;
        margin-bottom: 40px;
    }
    
    .cta-desc.cta-desc.cta-desc.cta-desc h2{
        font-size: 1.57em;
        width: auto;
    }

    .library-bg-style.library-bg-style {
        display: none;
    }

    .cta-card.cta-card.cta-card.cta-card {
        /* width: 230px;
        height: 250px;   */
        width: 300px;
		height: 350px;
		padding: 8px;
		padding-top: 25px;
    }
}

@media (max-width: 768px) and (min-width: 645px) {
    .cta-bg.cta-bg, .library-cta-bg.library-cta-bg {
        padding: 70px;
    }

    .cta-desc.cta-desc.cta-desc {
        width: 55%;
        padding-top: 45px;
    }

    .cta-desc.cta-desc.cta-desc h2{
        font-size: 1.4em ;
        width: auto;
    }

    .cta-card.cta-card.cta-card {
        width: 230px;
        height: 250px;  
    }

    .cta-card.cta-card.cta-card img{
        width: 32%;
        height: 22%;
        border: 2px solid #6cc027;
        border-radius: 15%;
        margin: 0px auto;
        padding: 10px 0;
    }

    .cta-card.cta-card.cta-card a{
        text-decoration: none;
        color: #6cc027;
        font-size: 1em;
    }

    .cta-card.cta-card.cta-card p{
        font-size: 0.9em;
        padding: 0 50px;
    }
}

@media (max-width: 930px) and (min-width: 770px) {
    .cta-desc.cta-desc {
        width: 60%;
        padding-top: 60px;
    }

    .cta-desc.cta-desc h2{
        font-size: 1.5em;
    }

    .cta-card.cta-card {
        width: 260px;
        height: 280px;  
    }

    .cta-card.cta-card img{
        width: 32%;
        height: 22%;
        border: 2px solid #6cc027;
        border-radius: 15%;
        margin: 0px auto;
        padding: 10px 0;
    }

    .cta-card.cta-card a{
        text-decoration: none;
        color: #6cc027;
        font-size: 1em;
    }

    .cta-card.cta-card p{
        font-size: 0.9em;
        padding: 0 50px;
    } 
}