.upload-song-div-3 {
	width: 275px;
	padding: 2em;
	padding-top: 3em;
	position: relative;
	z-index: 5;
	border-radius: 0px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.hidden-head {
	visibility: hidden;
}