.upload-song-div-3 {
	width: 275px;
	padding: 2em;
	padding-top: 3em;
	position: relative;
	z-index: 5;
	border-radius: 0px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-left: none !important;
}

.hidden-head {
	visibility: hidden;
}

@media (max-width: 1428px) {
	.small-screen-div-3 {
		display: none;
	}
}

@media (max-width: 1428px) and (min-width: 960px) {
	.upload-song-div-3 {
		/* max-width: 450px; */
		width: 33%;
		/* width: 350px; */
		/* width: 385px; */
		/* width: 40%; */
	}
}

@media (max-width: 960px) {
	.upload-song-div-3 {
		/* min-width: 400px; */
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		/* width: 55%; */
		width: 410px;
		/* max-width: 412px; */
		margin-left: 20px;
		padding-bottom: 48px;
	}

	.hidden-head {
		display: none;
	}
}

@media (max-width: 550px) {
	.upload-song-div-3 {
		width: 95%;
		margin: 0px;
	}
}
