@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--Poppins: "Poppins", sans-serif;
	--Roboto: "Roboto", sans-serif;
}

/**************************************************************************/
/******************************    Hero    ********************************/
/**************************************************************************/

.hero-container {
	width: 100vw;
	background-image: url("../../../assets/hero.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	padding-top: 120px;
	padding-bottom: 80px;
}

.hero-box {
	position: relative;
	max-width: 1500px;
	font-size: 16px;
}

.hero-row {
	margin: 0 !important;
	padding: 0 !important;
}

.intro-card {
	width: 80%;
	border-radius: 20px;
	padding: 50px 0px;
	text-align: center;
	/*Frosted effect*/
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
}

.intro-text {
	color: #6cc027;
	font-family: var(--Poppins);
	font-size: 1.7em;
	font-weight: 400;
}

.brand-intro {
	width: 80%;
	padding-left: 20px;
	text-align: left;
	margin-top: 60px;
}

.brand-intro h2 {
	font-family: var(--Poppins);
	font-weight: 400;
	font-size: 2.5em;
}

.brand-intro p {
	max-width: 80%;
	font-family: var(--Roboto);
	font-weight: 400;
	font-size: 1em;
}

.music-card {
	width: 80%;
	height: 150px;
	background-image: linear-gradient(to right, #458f08, #6cc027);
	border-radius: 20px;
	padding-left: 50px;
	margin-top: 75px;
	display: flex;
	overflow-y: hidden;
	overflow-x: hidden;
	align-items: center;
}

.music-card-text {
	padding-left: 15px;
	color: #232323;
	font-family: var(--Poppins);
	font-size: 1.6em;
	font-weight: 500;
}

.music-card img {
	align-self: center;
	margin: 0 55px 0 auto;
	width: 300px;
}

.about-us {
	width: 80%;
	padding-left: 20px;
	text-align: left;
	margin-top: 45px;
}

.about-us p {
	font-family: var(--Roboto);
	font-weight: 400;
	font-size: 1em;
}

p a {
	text-decoration: none;
	color: #6cc027;
}
