.section3-container {
	width: 100vw;
	padding: 60px 120px 160px 120px;
	background-color: #000;
	font-family: var(--Poppins);
}

.section3-card {
	max-width: 1500px;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	padding: 3rem 4rem;
	border-radius: 20px;
}

.grey-sub-card {
	width: 30%;
	padding-left: 1.5rem;
}

.grey-sub-card h3 {
	color: #6ec025;
	/* width: 300px; */
}

.grey-sub-card p {
	font-family: var(--Roboto);
	font-weight: 500;
}

.dashboard-preview {
	position: absolute;
	z-index: 2;
	/* temporary image preview */
	background-image: url("../../../assets/to-delete3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/* width: 800px; */
	max-width: 800px;
	min-width: 450px;
	width: 52vw;
	/*TODO: remove left*/
	left: 40px;
	top: 30%;
	/* top: 35px; */
	/* At < 1280px top: 50% or 45%; or maybe bottom: -6% */
	/* height: 470px; */
	aspect-ratio: calc(800 / 415);
	border-radius: 15px;
	box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.349);
}

@media (max-width: 1351px) {
	.dashboard-preview {
		width: 50vw;
	}
}

@media (max-width: 1220px) {
	.dashboard-preview {
		top: 28%;
		left: -5%;
	}
	.grey-sub-card {
		width: 40%;
	}
}

@media (max-width: 1024px) {
	.dashboard-preview {
		top: 28%;
		left: -7%;
	}
}

@media (max-width: 969px) {
	.grey-sub-card {
		width: 100%;
		padding-left: 0 !important;
	}

	.grey-sub-card p {
		font-family: var(--Roboto);
		width: 80%;
		font-size: 0.96rem;
	}

	.grey-sub-card h3 {
		font-size: 1.6rem;
	}

	.dashboard-preview {
		display: none;
	}
}

@media (max-width: 718px) {
	.section3-card {
		margin-top: 2rem;
	}
}

@media (max-width: 686px) {
	.section3-card {
		margin-top: 5rem;
	}
}

@media (max-width: 606px) {
	.section3-card {
		margin-top: 0;
	}

	.grey-sub-card h3 {
		width: 100%;
		font-size: 1.1rem;
		padding: 0 !important;
	}

	.grey-sub-card p {
		font-family: var(--Roboto);
		width: 90%;
		font-size: 0.86rem;
	}

	.grey-sub-card {
		height: fit-content;
	}
}

@media (max-width: 570px) {
	.button-card{
		flex-direction: column;
	}

	.button-card Button {
		margin-top: 1rem;
	}
}
