.social-dropdown-div {
	font-family: var(--Poppins);
	background-color: #323232;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	/* CREATE A PSUEDO BORDER */
	border: 0.2px solid rgba(54, 56, 65, 0);
}

.social-dropdown-div:hover {
	border: 0.2px solid #89e240;
}

.social-dropdown-div button.dropdown-toggle {
	color: #7a7a7a;
	font-size: 0.8rem;
	font-weight: 300;
	width: 100%;
	text-align: left;
}

.social-dropdown-div .dropdown-toggle::after {
	margin-left: 15px;
	float: right;
	margin-top: 8px;
	border-top: 0.3em solid #6cc027 !important;
}

.social-dropdown-div .dropdown-menu {
	/* background-color: rgba(54, 56, 65, 0.85) !important; */
	background-color: rgba(35, 66, 39, 0.94) !important;
	backdrop-filter: blur(5px);
	border-radius: 6px;
	width: 100% !important;
}

.dropdown_element_selected {
	color: #89e240 !important;
}
