/* ../../../assets/hero-img-4.png */

.hero-container-new {
	background-position: center;
	/* background-image: url("../../../assets/hero-img-1.png"); */
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 85vh; */
	width: 100vw;
	aspect-ratio: 2.742543709290367;
}
