.card {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	text-align: center;
	border-radius: 12px;
	width: 30%;
	padding: 35px 10px 45px 10px;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
}

.card > img {
	width: 25%;
	margin: 0 auto;
}

.card-desc {
	margin: 0;
	margin-top: 20px;
}

@media (max-width: 1024px) {
	.card {
		margin-top: 20px;
		padding: 20px 10px 25px 10px;
	}

	.card-desc {
		font-size: 1em !important;
	}
}

@media (max-width: 645px) {
	.card {
		width: 53%;
		margin-top: 20px;
		padding: 20px 10px 25px 10px;
	}

	.card-desc {
		font-size: 1.2em !important;
		margin-top: 15px !important;
	}
}
